# ---------------------------
#     Required Variables
# ---------------------------
# MySQL Datbase configuration
MYSQL_HOST="localhost"
MYSQL_DATABASE="yt2rss"
MYSQL_USER="hackmaster"
MYSQL_PASSWORD="guessme"

# Hosting information for express server
WEBSERVICE_ADDRESS="0.0.0.0"
WEBSERVICE_PORT=1234

# ---------------------------
#     Optional Variables
# ---------------------------
# Locations you want to appear in externally accessable urls.
# PROXY_ADDRESS="localhost"
# PROXY_PORT=1234

# Configuration for MP3 Manager
# MP3_MANAGER_URL="audio"
# MP3_EXPIRATION_TIME_MS=259200000

# Configuration for authentication
# TODO
